<p id="alert"><%= alert %></p>
<div class="card"  style="width: 400px;" class="mx-auto">
  <div class="card-body">
<h1>Login</h1>
<%= form_tag sessions_path do |form| %>
  <div class="form-group">
    <%= label_tag :email,"Email Address" %>
    <%= text_field_tag :email,"",class:"form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :password,"Password " %>
    <%= password_field_tag :password,"",class:"form-control" %>
  </div>
  <div class="form-group">
    <%= submit_tag "Login",class:"btn btn-primary" %>
  </div>
<% end %>
</div>
</div>